.duxtree {
    margin-left: 25px;
}

.duxtree-node {

}

.duxtree-node-children {
    margin-left: 35px;
}

.duxtree-disclosure {
    margin-right: 5px;
    cursor: default;
    width: 1.5ch;
    display: inline-block;
    text-align: center;
}

.duxtree-checkbox {
    width: 1.5ch;
    display: inline-block;
    text-align: center;
}

