.duxtree {
    margin-left: 25px;
}

.duxtree-node {

}

.duxtree-node-children {
    margin-left: 2ch;
}

.duxtree-disclosure {
    margin-right: 5px;
    cursor: default;
    width: 2.5ch;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.duxtree-checkbox {
    width: 2.5ch;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: default;
}

.duxtree-icon {
    width: 2.5ch;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    margin-left: 5px;
}

/* Internet Explorer workaround for 'ch' differences */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .duxtree-checkbox {
        width: 3.5ch;
    }

    .duxtree-icon {
        width: 3.5ch;
    }

    .duxtree-disclosure {
        width: 3ch;
    }
}

.duxtree-label {
    display: inline-block;
    margin-left: 5px;
    cursor: default;
}

.duxtree-loadingmsg {
    display: inline-block;
    margin-left: 3ch;
    cursor: default;
}

